body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  color: white;
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 60px;
  color: #00ffcc;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  opacity: 0.8;
}
